---
layout: default
title: Educación Continuada

permalink: /servicios/educacion-continuada/
---

<section class="py-16 max-w-2xl px-6 mx-auto">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quisquam quibusdam voluptas possimus, officia provident id maxime? Quia suscipit nesciunt fugiat perferendis eligendi, culpa neque. Molestiae deleniti est mollitia! Repudiandae?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quisquam quibusdam voluptas possimus, officia provident id maxime? Quia suscipit nesciunt fugiat perferendis eligendi, culpa neque. Molestiae deleniti est mollitia! Repudiandae?</p>
</section>

<section class="max-w-2xl px-6 mx-auto">
  <div class="md:flex md:-mx-4 md:flex-wrap">
    {% for service in site.data.turismo.services %}
      <article class="md:px-4 mb-8 pb-8 md:w-1/2 flex">
        <svg class="sm:border sm:border-solid sm:border-grey-light sm:p-6 box-content mr-2 sm:mr-6 mt-1 flex-no-shrink" width="50" height="50" role="img">
          <use xlink:href="/images/icons/symbol-defs.svg#{{ area.icon }}"></use>
        </svg>
        <div>
          <h3 class="text-lined-left-green uppercase text-black mb-6">{{ service.name }}</h3>
        </div>
      </article>
    {% endfor %}
  </div>
</section>





<section class="tourism" hidden data-tab="turismo-educativo">
  <div class="container">
    <h2 class="_big _lined" data-action="colorize">{{ site.data.turismo.title }}</h2>
    <p>{{ site.data.turismo.introduction }}</p>
  </div>


  <div class="services section _centered">
    <div class="container grid">
      {% for item in site.data.turismo.services %}
      <div class="grid-2">
        <svg class="icon" width="60" height="60">
          <use xlink:href="/images/pages/services/icons-defs.svg#{{ item.icon }}"></use>
        </svg>
        <p>{{ item.name }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">

  </div>
</section>


<section class="nature-day" hidden data-tab="un-dia-con-la-naturaleza">
  <div class="container">
    <h2 class="_big _lined" data-action="colorize">{{ site.data.naturaleza.title }}</h2>
    <p>{{ site.data.naturaleza.introduction }}</p>

    <figure>
      <img src="{{ site.data.naturaleza.image_path }}" class="_img-fluid" alt="{{ site.data.naturaleza.title }}">
    </figure>
  </div>

  <section class="what-is section">
    <div class="container">
      <h2 class="_lined">{{ site.data.naturaleza.what_is_title }}</h2>
      <p>{{ site.data.naturaleza.what_is_content }}</p>
    </div>
  </section>

  <section class="container grid">
    <div class="grid-6">
      <h2>{{ site.data.naturaleza.activities_title }}</h2>
      <ul>
        {% for activity in site.data.naturaleza.activities %}
        <li>{{ activity }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="grid-6">
      <h2>{{ site.data.naturaleza.information_title }}</h2>
      <ul>
        {% for information in site.data.naturaleza.information %}
        <li>{{ information }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>


  <section class="section">
    <div class="container grid">
      <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
      <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
      <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
      <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
    </div>
  </section>


  <section class="section menu">
    <div class="container">
      <h2 class="_centered">{{ site.data.naturaleza.meals_title }}</h2>

      <div class="grid">
        {% for meal in site.data.naturaleza.meals %}
        <div class="grid-3">
          <h3 class="_green">{{ meal.title }}</h3>
          <ul>
            {% for item in meal.items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>

      <p class="_centered">
        <em>Nota: Estas opciones incluyen agua y café.</em>
      </p>
  </section>
</section>