---
layout: default
title: Servicios
description: This is a sample description
---

<main class="section -big">
  <div class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident corrupti, ut enim fugiat obcaecati facilis officia consequuntur. Doloribus iure architecto ea laborum saepe dolores sunt blanditiis! Repudiandae magnam odit ullam.</p>
  
    <div class="grid">
      {% for service in site.data.services.servicios %}
        <a href="{{ service.url }}" class="grid-6 content-tile">
          <figure>
            <img src="{{ service.image_path }}" class="_img-fluid" alt="{{ service.title }}" width="300" height="250">
            <figcaption class="caption">
              <h3 class="title">{{ service.title }}</h3>
              <p class="text">{{ service.description }}</p>
            </figcaption>
          </figure>
        </a>
      {% endfor %}
    </div>



    <section class="section" id="services">
      <h2 class="_big _lined" data-action="colorize">Características de nuestros servicios</h2>
    
      {% for characteristic in site.data.services.characteristics %}
        <article class="service grid">
          <div class="grid-4">
            <figure>
              <img src="{{ characteristic.image_path }}" class="_img-fluid" alt="{{ characteristic.title }}">
            </figure>
          </div>
          <div class="grid-8">
            <h4>{{ characteristic.title }}</h4>
        
            <ul>
              {% for item in characteristic.items %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </article>
      {% endfor %}
    </section>
  </div>
</main>

{% include contact-us.html %}
    
<!--
<main class="section -big">
  <header class="container grid">
    <button class="box grid-6" data-action="tab" data-target="turismo-educativo">
      <h3 class="heading _uppercase _lined -center">Turismo educativo</h3>
      <p class="content">Talleres, reuniones, fiestas, eventos y más...</p>
    </button>
    <button class="box grid-6" data-action="tab" data-target="un-dia-con-la-naturaleza">
      <h3 class="heading _uppercase _lined -center">Un día con la naturaleza</h3>
      <p class="content">Descubre la belleza de nuestra naturaleza</p>
    </button>
  </header>


  <section class="tourism" hidden data-tab="turismo-educativo">
    <div class="container">
      <h2 class="_big _lined" data-action="colorize">{{ site.data.turismo.title }}</h2>
      <p>{{ site.data.turismo.introduction }}</p>
    </div>


    <div class="services section _centered">
      <div class="container grid">
        {% for item in site.data.turismo.services %}
          <div class="grid-2">
            <svg class="icon" width="60" height="60">
              <use xlink:href="/images/pages/services/icons-defs.svg#{{ item.icon }}"></use>
            </svg>
            <p>{{ item.name }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="container">
      
    </div>
  </section>


  <section class="nature-day" hidden data-tab="un-dia-con-la-naturaleza">
    <div class="container">
      <h2 class="_big _lined" data-action="colorize">{{ site.data.naturaleza.title }}</h2>
      <p>{{ site.data.naturaleza.introduction }}</p>

      <figure>
        <img src="{{ site.data.naturaleza.image_path }}" class="_img-fluid" alt="{{ site.data.naturaleza.title }}">
      </figure>
    </div>
  
    <section class="what-is section">
      <div class="container">
        <h2 class="_lined">{{ site.data.naturaleza.what_is_title }}</h2>
        <p>{{ site.data.naturaleza.what_is_content }}</p>
      </div>
    </section>
  
    <section class="container grid">
      <div class="grid-6">
        <h2>{{ site.data.naturaleza.activities_title }}</h2>
        <ul>
          {% for activity in site.data.naturaleza.activities %}
            <li>{{ activity }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="grid-6">
        <h2>{{ site.data.naturaleza.information_title }}</h2>
        <ul>
          {% for information in site.data.naturaleza.information %}
            <li>{{ information }}</li>
          {% endfor %}
        </ul>
      </div>
    </section>


    <section class="section">
      <div class="container grid">
        <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
        <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
        <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
        <img src="{{ site.data.naturaleza.image_path }}" alt="" class="grid-3">
      </div>
    </section>

  
    <section class="section menu">
      <div class="container">
        <h2 class="_centered">{{ site.data.naturaleza.meals_title }}</h2>
  
        <div class="grid">
          {% for meal in site.data.naturaleza.meals %}
            <div class="grid-3">
              <h3 class="_green">{{ meal.title }}</h3>
              <ul>
                {% for item in meal.items %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
  
        <p class="_centered"><em>Nota: Estas opciones incluyen agua y café.</em></p>
    </section>
  </section>
</main>



<section class="contact-us-now section -big _centered">
  <div class="container">
    <h2 class="_big _lined -center">Contáctanos</h2>
    <p>¿Tiene alguna pregunta o desea hacer una reserva? Puede contactarnos y estaremos encantados de ayudarle.</p>

    <div>
      <a href="mailto:{{ site.email }}" class="button -green">Escribe un email</a>
      <a href="tel:{{ site.phone | remove: ' '}}" class="button -green">Llámenos</a>
    </div>
  </div>
</section>-->