---
layout: default
title: Servicios
description: This is a sample description
---

<section class="py-16 px-6 max-w-2xl mx-auto">
  <p class="sm:text-2xl text-green font-serif text-center">Aprovecha la belleza de la naturaleza</p>
  <h2 class="text-4xl md:text-5xl mb-8 text-black leading-tight text-center">Nuestros Servicios</h2>
  <p class="text-center">Somos mucho más que un Instituto. Como parte de nuestro compromiso de proteger el Medio Ambiente, ofrecemos una variedad de servicios, disponibles para ti. Actividades escolares, talleres, excursiones, espacios para celebraciones y mucho más...</p>

  <div class="lg:flex lg:-mx-4 lg:flex-wrap mt-8 pt-8">
    {% for service in site.data.services.servicios %}
    <article class="lg:w-1/2 flex lg:px-4 mb-8">
      <div class="bg-cover bg-center bg-no-repeat sm:w-1/3 flex-no-shrink" style="background-image: url('{{ service.image_path }}');"></div>
      <div class="py-4 px-6 border-l-0 border border-solid border-grey-light flex flex-col items-start">
        <h3 class="mb-4 font-medium text-black text-xl" data-action="colorize">{{ service.title }}</h3>
        <p class="font-light mb-4">{{ service.description }}</p>
        <a href="{{ service.url }}" class="mt-auto text-white bg-green uppercase px-6 py-3 inline-block hover:bg-green-dark">Más detalles</a>
      </div>
    </article>
    {% endfor %}
  </div>
</section>


{% for characteristic in site.data.services.characteristics %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <section class="md:py-16 md:px-6{% if thecycle == 'odd' %} md:bg-grey-lighter{% endif %}">
    <div class="max-w-2xl mx-auto flex items-center relative{% if thecycle == 'even' %} flex-row-reverse{% endif %}">
      <figure class="md:w-2/5 absolute md:static pin-l pin-t w-full h-full z-10">
        <img src="{{ characteristic.image_path }}" class="w-full h-full object-cover" alt="{{ characteristic.title }}" width="800" height="533">
      </figure>

      <div class="{% if thecycle == 'odd' %}md:ml-8{% else %}md:mr-8{% endif %} md:w-3/5 z-20 px-6 py-8 md:p-0{% if thecycle == 'even' %} text-right{% endif %}">
        <h3 class="text-black mb-6 text-3xl bg-white md:bg-transparent inline-block px-3 md:px-0">{{ characteristic.title }}</h3>

        <ul class="bg-white md:bg-transparent list-reset">
          {% for item in characteristic.items %}
          <li class="mb-3">{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endfor %}

{% include contact-us.html %}