// -----------------------------------------------------------------------------
// Contact Page
// -----------------------------------------------------------------------------

.contact {
    .box {
        padding: 1.5rem 1rem;
        margin-bottom: 1rem;

        border: 1px solid $light-grey;

        background-color: $bg-grey;

        > .heading {
            position: relative;
            margin-bottom: 2rem;

            &::before {
                content: '';
                position: absolute;
                left: calc(50% - 25px);
                top: 150%;
                width: 50px;

                border-bottom: 1px solid tint($mid-grey, 20%);
              }
        }

        > .content {
            margin-bottom: 0;

            font-weight: 300;
        }
    }

    .title {
        margin: 4rem 0;
    }

    .button {
        padding: 1rem 1.5rem;
        width: 100%;
        margin-bottom: 0;

        border-radius: 0;
    }

    @media screen and (max-width: 768px) {
        .map {
            height: 400px;
            margin-top: 2rem;
        }
    }
}
