// -----------------------------------------------------------------------------
// History Page
// -----------------------------------------------------------------------------

.history {
    background: transparent url('../images/pages/history/background.png') 50px bottom no-repeat;
    background-size: 400px;

    .pretitle {
        margin-bottom: 0;

        font-weight: 400;
        font-size: 1.5rem;
    }

    .title {
        margin-bottom: 5rem;
    }
}

.history-list {
    padding-left: 0;
    margin: 0;
    position: relative;

    list-style-type: none;

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        top: 4%;
        bottom: 10%;
        left: calc(2rem + 40px);

        background-color: $light-grey;

        @media screen and (min-width: 768px) {
            left: calc(2rem + 40px);
        }

        @media screen and (max-width: 768px) {
            left: calc(30px);
        }
    }

    > .entry {
        margin-top: 2rem;
        align-items: center;

        > .year {
            flex-shrink: 0;
            position: relative;

            border: 1px solid $light-grey;

            background-color: $white;

            z-index: 99;

            font-weight: 300;

            @media screen and (min-width: 768px) {
                margin: 0 2rem;
                width: 80px;
                height: 80px;

                line-height: 80px;
            }

            @media screen and (max-width: 768px) {
                margin: 0 1rem 0 0;
                width: 60px;
                height: 60px;

                line-height: 60px;
            }

            &::before {
                content: '';
                position: absolute;
                height: 1px;
                top: 50%;
                left: 100%;

                background-color: $light-grey;

                @media screen and (min-width: 768px) {
                    width: 30px;
                }

                @media screen and (max-width: 768px) {
                    width: 10px;
                }
            }
        }

        > .content {
            margin: 0;
            padding: .5rem 1rem;

            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}
