<footer class="main-footer">
  <div class="container grid">
    <section class="grid-3">
      <div class="logo">
        <h2 class="heading _curly">{{ site.title }}</h2>
        <p class="subtitle">{{ site.subtitle }}</p>
      </div>

      <h3 class="heading _uppercase">Síguenos:</h3>

      {% include social.html %}
    </section>

    <section class="grid-3">
      <h3 class="heading _uppercase">Noticias</h3>

      {% for post in site.posts limit: 2 %}
        <article class="news-item">
          <h4 class="title">{{ post.excerpt | strip_html | truncatewords:10 }}</h4>
          <a class="link" href="{{ post.url }}">Lee más &raquo;</a>
        </article>
      {% endfor %}
    </section>

    <section class="grid-3">
      <h3 class="heading _uppercase">Fotos</h3>

      <figure class="gallery">
        {% for image in site.data.campus.images limit:6 %}
          <a href="/campus/" class="link">
            <img src="{{ image.src }}" alt="{{ image.caption }}" class="image" width="80" height="80">
          </a>
        {% endfor %}
      </figure>
    </section>

    <nav class="navigation grid-3">
      <h3 class="heading _uppercase">Navegación</h3>

      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="item">{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>

  <p class="copyright _centered">Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.title }}. Todos los derechos reservados.</p>
</footer>