<!-- main-footer -->
<footer class="main-footer">
  <div class="container">
    <div class="grid">
      <section class="grid-item">

        <!-- page logo -->
        <a href="index.html" class="logo">
          <h2 class="title _curly">Instituto <span class="_green">Nacional</span>
          </h2>
          <p class="subtitle">Estudios Superiores y Medio Ambiente</p>
        </a> <!-- end page logo -->

        <h3 class="title _uppercase">Follow Us:</h3>

        {% include social.html %}
      </section>

      <section class="grid-item">
        <h3 class="title _uppercase">Noticias</h3>

        <article class="news-item">
          <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
          <a class="link" href="blog-detail.html">Lee más</a>
        </article>

        <article class="news-item">
          <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
          <a class="link" href="blog-detail.html">Lee más</a>
        </article>
      </section>

      <section class="grid-item">
        <h3 class="title _uppercase">Fotografiás</h3>

        <figure class="gallery">
          <div class="_flex">
            <a href="#" class="item">
              <img src="images/footer/campus.jpg" alt="" width="100" height="100">
            </a>
            <a href="#" class="item">
              <img src="images/footer/carreras.jpg" alt="" width="100" height="100">
            </a>
            <a href="#" class="item">
              <img src="images/footer/profesores.jpg" alt="" width="100" height="100">
            </a>
          </div>
          <div class="_flex">
            <a href="#" class="item">
              <img src="images/footer/campus.jpg" alt="" width="100" height="100">
            </a>
            <a href="#" class="item">
              <img src="images/footer/carreras.jpg" alt="" width="100" height="100">
            </a>
            <a href="#" class="item">
              <img src="images/footer/profesores.jpg" alt="" width="100" height="100">
            </a>
          </div>
        </figure>
      </section>

      <section class="grid-item">
        <h3 class="title _uppercase">Quick Links</h3>

        <ul class="quick-links">
          <li class="item">
            <a href="escuela.html">La Escuela</a>
          </li>
          <li class="item">
            <a href="servicios.html">Servicios</a>
          </li>
          <li class="item">
            <a href="blog.html">Blog</a>
          </li>
          <li class="item">
            <a href="contactenos.html">Contáctenos</a>
          </li>
        </ul>
      </section>
    </div> <!-- end grid -->

    <p class="copyright _centered">Copyright &copy; 2017 Escuela Ambiental. All Rights Reserved.</p>
  </div> <!-- end container -->
</footer> <!-- end main-footer -->