<div class="container">

  <!-- main-header -->
  <header class="main-header _flex">

    <!-- page logo -->
    <img src="/images/header/logo.png" alt="{{ site.title }} {{ site.subtitle }}" width="70" height="70">
    <a href="/" class="logo">
      <h1 class="title _curly">{{ site.title }}</h1>
      <p class="subtitle">{{ site.subtitle }}</p>
    </a> <!-- end page logo -->



    <!-- contact links -->
    <ul class="contact _no-bullets">
      <li class="item">
        <svg class="icon" width="40" height="40">
          <use xlink:href="/images/header/icons-defs.svg#address"></use>
        </svg>
        <span>{{ site.address }}
        </span>
      </li>
      <li class="item">
        <svg class="icon" width="40" height="40">
          <use xlink:href="/images/header/icons-defs.svg#phone"></use>
        </svg>
        <a href="tel:{{ site.phone | remove: ' '}}">{{ site.phone }}</a>
        <br>
      </li>
    </ul> <!-- end contact links -->



     {% include social.html %}



    <!-- mobile menu toggle -->
    <button type="button" data-action="menu" class="toggle" title="Toggle Navigation">
      <svg class="icon" width="28" height="28">
        <use xlink:href="/images/header/icons-defs.svg#bars"></use>
      </svg>
    </button> <!-- end mobile menu toggle -->

  </header> <!-- end main-header -->
</div> <!-- end container -->