<header>
  <div class="page-header container">
    <a href="/" class="logo">
      <h1 class="title" data-action="colorize">{{ site.title }}</h1>
      <p class="subtitle">{{ site.subtitle }}</p>
    </a>

    <ul class="contacts">
      <li class="contact">
        <svg class="icon" width="40" height="40">
          <use xlink:href="/images/icons/symbol-defs.svg#address"></use>
        </svg><span>{{ site.address }}</span>
      </li>
      <li class="contact">
        <svg class="icon" width="40" height="40">
          <use xlink:href="/images/icons/symbol-defs.svg#phone"></use>
        </svg><a href="tel:{{ site.phone | remove: ' '}}">{{ site.phone }}</a>
        <br>
      </li>
    </ul>

    {% include social.html %}

    <button type="button" data-action="menu" class="button -menu" title="Toggle Navigation">
      <svg class="icon" width="28" height="28">
        <use xlink:href="/images/icons/symbol-defs.svg#bars"></use>
      </svg>
    </button>
  </div>
</header>