{% if page.url == "/" %}
  <section class="bg-hero-big h-hero-big">
    <div class="flex flex-col justify-center h-full max-w-2xl mx-auto px-6">
      <h2 class="text-green font-serif mb-6 md:text-2xl pb-2 lined text-shadow">{{ page.title }}</h2>
      <h2 class="text-white text-3xl md:text-5xl mb-4 text-shadow">{{ page.hero.title }}</h2>
      <p class="uppercase text-white text-lg mb-8 md:ml-6 text-shadow">{{ page.hero.subtitle }}</p>

      <div>
        <a href="/instituto/" class="md:ml-6 mb-1 button">El Instituto</a>
        <a href="/contactanos/" class="button-white">Contáctanos</a>
      </div>
    </div>
  </section>
{% else %}
  <section class="bg-hero-small h-hero-small">
    <div class="text-center flex flex-col md:flex-row items-center justify-center md:justify-between h-full max-w-2xl mx-auto px-6 uppercase">
      <h1 class="text-white text-3xl mb-3 md:mb-0 sm:text-5xl text-shadow" data-action="colorize">{% if page.layout == 'post' %}Blog{% else %}{{ page.title }}{% endif %}</h1>

      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      
      <nav class="breadcrumbs">
        <a href="/" class="text-white text-shadow">Inicio</a>
        {% if page.layout == 'post' %}
          <a href="/blog/" class="text-green text-shadow">Blog</a>
        {% else %}
          {% for crumb in crumbs offset: 1 %}
            {% if forloop.last %}
              <a href="/{{ crumb }}" class="text-green text-shadow">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
            {% else %}
              <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}" class="text-white text-shadow">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </nav>
    </div>
  </section>
{% endif %}