{% if page.url == "/" %}
  <section class="hero-unit -home">
    <div class="container inner">
      <h3 class="pretitle _green _curly _lined">{{ page.title }}</h3>
      <h2 class="title _big">{{ site.data.home.hero.title }}</h2>
      <p class="intro _uppercase">{{ site.data.home.hero.subtitle }}</p>

      <div class="buttons">
        <a href="/instituto/" class="button -green">Nuestro Instituto</a>
        <a href="/contactenos/" class="button -transparent">Contáctenos</a>
      </div>
    </div>
  </section>
{% else %}
  <section class="hero-unit _uppercase">
    <div class="container inner">
      <h2 class="title _big">{{ page.title }}</h2>

      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      
      <nav class="breadcrumbs">
        <a href="/" class="link">Inicio</a>
        {% for crumb in crumbs offset: 1 %}
          {% if forloop.last %}
            <a href="/{{ crumb }}" class="link">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
          {% else %}
            <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}" class="link">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </section>
{% endif %}