<nav class="page-navigation container">
  <h2 class="heading">Navegación</h2>
  
  <ul class="menu">
    {% for item in site.data.navigation %}
      <li class="item{% if item.children %} -dropdown{% endif %}">
        <a href="{{ item.url }}" class="link{% if item.url == page.url %} -active{% endif %}">{{ item.name }}</a>
        {% if item.children %}
        <ul class="submenu">
          {% for subitem in item.children %}
            <li>
              <a href="{{ subitem.url }}" class="link{% if subitem.url == page.url %} -active{% endif %}">{{ subitem.name }}</a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>