<aside class="md:w-1/4">
  <h3 class="lined text-black uppercase font-medium mb-8">Buscar</h3>
  
  <form action="/blog/buscar/" method="get" class="flex">
    <input type="search" name="q" class="bg-white w-full border border-solid hover:border-grey border-grey-light border-r-0 p-4 text-grey-darker font-light" placeholder="Buscar publicaciones en el blog..." required>
    <button type="submit" class="bg-green text-white w-12 hover:bg-green-dark flex-no-shrink" title="Buscar">
      <svg class="" width="20" height="20">
        <use xlink:href="/icons/symbol-defs.svg#search"></use>
      </svg>
    </button>
  </form>

  <h3 class="lined text-black uppercase font-medium my-8 pt-8">Categorias</h3>
  <ul class="list-reset">
    {% assign tags_list = site.categories %}
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %} 
        <li><a href="#{{ tag }}" class="flex justify-between text-grey-darker hover:text-green font-light py-3 border-b border-dashed border-grey-light">{{ tag | capitalize }} <span>({{ site.tags[tag].size }})</span></a></li>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %} 
        <li><a href="#{{ tag[0] }}" class="flex justify-between text-grey-darker hover:text-green font-light py-3 border-b border-dashed border-grey-light">{{ tag[0] | capitalize }} <span>({{ tag[1].size }})</span></a></li>
      {% endfor %}
    {% endif %}
    {% assign tags_list = nil %}
  </ul>

  <h3 class="lined text-black uppercase font-medium my-8 pt-8">Entradas recientes</h3>
  {% for post in site.posts limit: 2 %}
    <article class="flex pb-6 items-center{% unless forloop.last %} border-b border-dashed border-grey-light{% endunless %}">
      <figure>
        <picture>
          <source data-lazy data-srcset="{{ post.image | replace: 'upload', 'upload/c_thumb,w_100,h_100,q_60' | replace: '.jpg', '.webp' }}" type="image/webp">
          <img data-lazy data-src="{{ post.image | replace: 'upload', 'upload/c_thumb,w_100,h_100,q_60' }}" class="mr-4 w-16 h-16 object-cover" alt="{{ post.title }}" width="100" height="100">
          <noscript>
            <img src="{{ post.image | replace: 'upload', 'upload/c_thumb,w_100,h_100,q_60' }}" class="mr-4 w-16 h-16 object-cover" alt="{{ post.title }}" width="100" height="100">
          </noscript>
        </picture>
      </figure>
    
      <div class="">        
        <h4 class="text-black hover:text-green">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h4>
        <time datetime="{{ post.date | date_to_xmlschema }}" class="font-light text-gray-dark">{{ post.date | date: "%d/%m/%Y" }}</time>
      </div>
    </article>
  {% endfor %}
</aside>