<section class="h-128 mt-8 p-6 text-center flex items-center justify-center flex-col bg-cover" data-lazy data-class="bg-video">
  <p class="font-serif text-green text-2xl">{{ include.pretitle }}</p>
  <h2 class="mb-8 text-white text-3xl sm:text-5xl font-bold uppercase">{{ include.title }}</h2>

  <a data-fancybox data-type="iframe" data-src="{{ include.url }}" href="{{ include.url }}" target="_blank" rel="noopener" title="Abre video" class="button-play">
    <svg class="" width="30" height="30">
      <use xlink:href="/icons/symbol-defs.svg#play"></use>
    </svg>
  </a>
</section>