.card {
  @apply .bg-grey-lighter .mb-4 .text-grey-darker .block;
}

  .card:hover {
    @apply .bg-grey-darkest;
    
    color: white;
    transform: translate3d(0, -1rem, 0);
    box-shadow: 0 25px 20px -10px rgba(0, 0, 0, 0.15); 
  }

  .card:hover h3 {
    color: white;
  }