@font-face {
  font-family: "Merienda One";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Merienda One'),
       local('MeriendaOne-Regular'),
       url("/fonts/merienda-one-regular.woff2") format("woff2"),
       url("/fonts/merienda-one-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url("/fonts/roboto-light.woff2") format("woff2"),
       url("/fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url("/fonts/roboto-regular.woff2") format("woff2"),
       url("/fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Medium'),
       local('Roboto-Medium'),
       url("/fonts/roboto-medium.woff2") format("woff2"),
       url("/fonts/roboto-medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Bold'),
       local('Roboto-Bold'),
       url("/fonts/roboto-bold.woff2") format("woff2"),
       url("/fonts/roboto-bold.woff") format("woff");
}