.not-found {
  background: transparent url('/images/404-background.jpg') bottom right no-repeat;
  background-size: contain;
}

.not-found__title {
  margin: 0;

  font-size: 4.5rem;
  line-height: 1.2;
}

.not-found__content {
  margin: 0 0 3rem;
}