.error-404 {
  background: transparent url('/images/404-background.jpg') bottom right no-repeat;
  background-size: contain;
  
  .title {
    margin: 0;
  
    font-size: 4.5rem;
    line-height: 1.2;
  }
  
  .content {
    margin: 0 0 3rem;
  }
}