.about-intro {
  .pretitle {
    margin: 0;
    
    font-size: 1.6rem;
  }
  
  .text {
    padding-bottom: 1.4rem;
    align-self: end;
  }
}

.about-principles {
  .title {
    margin-top: 1rem;
    
    font-weight: 500;
  }

  .icon {
    padding: 1.5rem;
    margin-top: 5px;
    box-sizing: content-box;
    float: left;
    margin-right: 1rem;
    
    fill: var(--brand-color);
    
    border: 1px solid var(--light-gray);
  }
}

.about-values {
  background-color: var(--bg-gray);

  .title {
    margin-bottom: 4rem;
  }
}