// -----------------------------------------------------------------------------
// Blog
// -----------------------------------------------------------------------------

.blog {
    .entries {
        flex-basis: 70%;
    }

    .blog-post:not(:last-child) {
        margin-bottom: 3rem;
    }

    .sidebar {
        flex-basis: 30%;
    }
}
