.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  > .item {
    position: relative;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      content: attr(title);

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      padding: 1rem;
      align-items: flex-end;
      
      background-color: rgba(0, 0, 0, .6);
      color: white;

      font-weight: 500;
      text-transform: uppercase;

      opacity: 0;
      transition: opacity .15s ease-in-out;
    }
  }
}