.campus__menu {
  padding-left: 0;
  margin: 0 0 3rem;

  list-style-type: none;

  text-align: center;
}

.campus__item {
  display: inline-block;
}

.campus__button {
  padding: .5rem 1rem;

  border: 1px solid transparent;
  border-radius: 4px;

  &:hover {
    border-color: $light-grey;
  }
}

.campus__button--is-active {
  border-color: $brand-color;

  color: $brand-color;

  font-weight: 500;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.gallery__item {
  position: relative;

  overflow: hidden;
  cursor: pointer;

  &:hover .gallery__caption {
    bottom: 0;
  }
}

.gallery__image {
  width: 100%;
}

.gallery__caption {
  position: absolute;
  padding: 1rem;

  background: rgba(0, 0, 0, .6);
  color: white;
  
  font-weight: 300;

  transition: all .3s ease-in-out;
}