.history {
  @media (min-width: 900px) {
    background: transparent url('../images/background.png') 50px bottom no-repeat;
    background-size: 400px;
  }

  @media (max-width: 1400px) {
    background-size: 200px;
  }

  .pretitle {
    margin-bottom: 0;

    font-weight: 400;
    font-size: 1.5rem;
  }
}

.history-list {
  padding-left: 0;
  position: relative;
  
  list-style-type: none;
  
  @media (min-width: 900px) {
    margin: 0 10rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1px;
    top: 5%;
    bottom: 10%;
    left: 30px;

    background-color: var(--brand-color);
  }

  > .entry {
    display: flex;
    align-items: center;

    > .year {
      flex-shrink: 0;
      position: relative;
      margin: 0 2rem 0 0;
      width: 60px;
      height: 60px;

      line-height: 60px;
      font-weight: 300;

      background-color: var(--brand-color);
      color: white;

      z-index: 99;

      @media screen and (max-width: 768px) {
        margin: 0 1rem 0 0;
      }

      &::before {
        content: '';
        position: absolute;
        height: 1px;
        top: 50%;
        left: 100%;
        width: 30px;

        background-color: var(--brand-color);

        @media screen and (max-width: 768px) {
          width: 10px;
        }
      }
    }

    > .content {
      margin: 2rem 0 2rem 1rem;
    }
  }
}