.careers {
  min-height: 40rem;
  background-image: url('../images/pages/home/careers-cover.jpg');

  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255,255,255,0.3), transparent);
      z-index: -2;
    }
  }
}

.latest-news {
  background-image: url('../images/pages/home/news.jpg');
}