@media (min-width: 1280px) {
  .requisitos {
    background: transparent url('../images/requisitos-fondo.jpg') center no-repeat;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .requirements .grid-5:first-of-type ul {
    margin-bottom: 0;
  }

  .requirements .grid-5:last-of-type ul {
    margin-top: 0;
  }
}