/*.tourism {
  margin-top: 3rem;

  > .services {
      margin: 3rem 0;

      background-color: var(--bg-gray);

      .icon {
        padding: 1rem;

        background-color: var(--brand-color);
        fill: white;
      }
  }

  .service:not(:last-child) {
    margin-bottom: 3rem;

    .title {
      font-weight: 500;

      @media (max-width: 768px) {
        margin-top: 1rem;
      }
    }
  }
}

.nature-day {
  margin-top: 3rem;

  > .what-is {
    margin: 4rem 0;

    background-color: var(--bg-gray);
  }
  
  > .menu {
    margin: 4rem 0 -6rem 0;
    background-color: var(--bg-gray);
  }
}
*/

#services {
  padding-bottom: 0;

  article {
    margin-bottom: 1.5rem;
  }

  h4 {
    font-weight: 500;
  }
}