---
layout: default
title: Requisitos de Adminission
---

<main class="section requisitos">
  <div class="container">
    <div class="grid">
      <div class="grid-5">
        <h2 class="_lined">{{ site.data.requirements.can_i_apply.title }}</h2>
 
        {{ site.data.requirements.can_i_apply.content | markdownify }}
      </div>
      <div class="grid-5">
        <h2 class="_lined">{{ site.data.requirements.how_to_apply.title }}</h2>
  
        {{ site.data.requirements.how_to_apply.content | markdownify }}
      </div>
    </div>

    <div class="grid section">
      <div class="grid-8">
        <h2 class="_lined">{{ site.data.requirements.process.title }}</h2>
        <ol class="styled-list">
          {% for item in site.data.requirements.process.items %}
            <li class="item">{{ item }}</li>
          {% endfor %}
        </ol>

        {% for footnote in site.data.requirements.process.footnotes %}
          <sup>{{ forloop.index }}. {{ footnote }}</sup>
        {% endfor %}
      </div>
    </div>

    <h2 class="_lined">Requisitos para aplicar</h2>
    <p>Antes de aplicarte al Instituto, segurarte que tienes la siguiente documentación:</p>
    <div class="grid">
      <div class="grid-5">
        <ul>
          {% for item in site.data.requirements.requirements.items limit:7 %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="grid-5">
        <ul>
          {% for item in site.data.requirements.requirements.items offset:7 %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <a href="/instituto/" class="button -green">Volver</a>
  </div>
</main>