// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.main-header {
    height: $header-height;
    align-items: center;

    font-weight: 300;

    .logo {
        line-height: 1.4;
        margin-left: 15px;

        h1 {
            margin: 0;

            font-size: 1.8rem;
            font-family: $text-font-stack-curly;
        }

        p {
            margin: 0;

            color: $mid-grey;
        }
    }

    .contact {
        margin-left: auto;

        li {
            display: inline-flex;
            align-items: center;
            margin-right: 30px;

            line-height: 1.4;
        }

        .icon {
            padding: 10px;
            margin-right: 15px;

            background-color: $brand-color;
        }
    }

    .social {
        .link {
            display: inline-block;
            width: $social-icons-size;
            margin-left: 5px;
            height: $social-icons-size;

            border: 1px solid $light-grey;
            border-radius: 50%;

            line-height: $social-icons-size;
            text-align: center;

            &:hover {
                border-color: $brand-color;
            }
        }
    }
}
