// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.main-header {
    height: $header-height;
    align-items: center;

    line-height: 1.4;
    font-weight: 300;

    // Page Logo
    > .logo {
        display: inline-block;
        flex: 1;
        margin-left: 1rem;

        > .title {
            margin-bottom: 0;

            font-size: 1.8rem;
        }

        > .subtitle {
            margin: 0;

            color: $mid-grey;
        }
    }

    // Phone & Address
    > .contact {
        @include respond-to(large) {
            display: none;
        }

        > .item {
            display: inline-flex;
            align-items: center;
            margin-right: 2rem;

            > .icon {
                padding: 10px;
                margin-right: 1rem;

                background-color: $brand-color;
            }
        }
    }

    // Social Icons
    .social {
        .link {
            display: inline-flex;
            width: $social-icons-size;
            margin-left: 5px;
            height: $social-icons-size;

            border: 1px solid $light-grey;
            border-radius: 50%;

            align-items: center;
            justify-content: center;

            transition: border-color .15s ease-in-out;

            &:hover {
                border-color: $brand-color;
            }
        }
    }
}
