.box {
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  width: 100%;

  border: 1px solid $light-grey;

  background-color: $bg-grey;

  transition: background-color .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out;

  &.-active {
    background-color: $dark-grey;
    color: $white;
    border-color: $dark-grey;

    > .heading {
      color: $white;
    }
  }

  > .content {
    margin-bottom: 0;

    font-weight: 300;
  }
}