.button {
  display: inline-block;
  padding: 10px 30px;

  font-weight: 500;
  font-size: 95%; 
  text-transform: uppercase;

  background-color: transparent;
  color: $dark-grey;
  fill: $dark-grey;

  border: 2px solid $light-grey;
  border-radius: 4px;

  cursor: pointer;
  transition: all .15s ease-in-out;

  &.-green {
    background-color: $brand-color;
    color: white;
    border-color: $brand-color;

    &:hover {
      background-color: shade($brand-color, 20%);

      border-color: shade($brand-color, 20%);
    }
  }

  &.-menu {
    background-color: white;
    
    margin-left: 1rem;

    line-height: 0;

    &:hover {
      border-color: $brand-color;
    }

    &.-active {
      border-color: $brand-color;
      color: $brand-color;
    }
  }

  &.-transparent {
    background-color: rgba(255, 255, 255, .1);
    color: white;
    border-color: white;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);

    &:hover {
      background-color: transparent;
    }
  }
}

.text-link {
  color: $brand-color;

  border-bottom: 1px dotted $brand-color;

  transition: color .15s ease-in-out;

  &:hover {
    color: $text-color;
  }
}