.button {
  display: inline-block;
  padding: 10px 30px;

  font-weight: 500;
  font-size: 95%; 
  text-transform: uppercase;

  background-color: var(--background-color, transparent);
  color: var(--text-color, var(--dark-gray));
  fill: var(--text-color, var(--dark-gray));

  border: 2px solid var(--border-color, var(--light-gray));
  border-radius: 4px;

  cursor: pointer;
  transition: all .15s ease-in-out;

  &.-green {
    --background-color: var(--brand-color);
    --text-color: white;
    --border-color: var(--brand-color);

    &:hover {
      background-color: shade($brand-color, 20%);

      border-color: shade($brand-color, 20%);
    }
  }

  &.-menu {
    --background-color: white;
    
    margin-left: 1rem;

    line-height: 0;

    &:hover {
      border-color: var(--brand-color);
    }

    &.-active {
      --border-color: var(--brand-color);
      --text-color: var(--brand-color);
    }
  }

  &.-transparent {
    --background-color: rgba(255, 255, 255, .1);
    --text-color: white;
    --border-color: white;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);

    &:hover {
      background-color: transparent;
    }
  }
}

.text-link {
  color: var(--brand-color);

  border-bottom: 1px dotted var(--brand-color);

  transition: color .15s ease-in-out;

  &:hover {
    color: $text-color;
  }
}