.content-tile {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;

  background-color: $bg-grey;

  transition: transform .25s ease-out, background-color .15s ease-in-out, box-shadow .25s ease-out;

  .caption {
    padding: 1.5rem 1rem;

    > .title {
      margin: 0;
    }

    > .text {
      margin: 0;

      font-weight: 300;

      color: $mid-grey;
      transition: color .15s ease-in-out;
    }
  }

  &:hover {
    transform: translateY(-1rem);

    box-shadow: 0 25px 20px -10px rgba(0, 0, 0, 0.15);
    background-color: $dark-grey;

    .title {
      color: white;
    }
  }
}