---
layout: default
---

<section class="py-16 max-w-2xl px-6 mx-auto">
  <div class="md:flex md:items-end">
    <div class="md:text-right md:w-2/5 md:mr-8 mb-6 md:mb-0">
      <p class="font-serif text-green text-xl mb-3">{{ page.area_production.pretitle }}</p>
      <h2 class="text-black text-4xl leading-tight">{{ page.area_production.title }}</h2>
    </div>

    <p class="md:w-3/5 text-lg text-grey-dark mb-1">{{ page.area_production.intro }}</p>
  </div>
</section>

<section class="max-w-2xl px-6 mx-auto">
  <div class="md:flex md:-mx-4 md:flex-wrap">
    {% for area in page.area_production.items %}
      <article class="md:px-4 mb-8 pb-8 md:w-1/2 flex">
        <svg class="sm:border sm:border-solid sm:border-grey-light sm:p-6 box-content mr-2 sm:mr-6 mt-1 flex-no-shrink" width="50" height="50" role="img">
          <use xlink:href="/images/icons/symbol-defs.svg#{{ area.icon }}"></use>
        </svg>
        <div>
          <h3 class="text-lined-left-green uppercase text-black mb-6">{{ area.title }}</h3>
          <p class="font-light">{{ area.content }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</section>



<figure class="mt-8 flex flex-wrap">
  {% for image in page.area_production.images %}
    <a data-fancybox="gallery" href="{{ image.path }}" class="block opacity-75 transition hover:opacity-100 w-1/4 flex-no-shrink">
      <img src="{{ image.path }}" alt="{{ image.caption }}" width="640" height="360">
    </a>
  {% endfor %}
  <figcaption class="bg-grey-lighter py-8 w-full text-center">
    <p class="font-light text-lg mx-auto max-w-2xl mb-4">{{ page.area_production.image_caption }}</p>
    <a href="/instituto/galeria/" class="text-white bg-green uppercase px-6 py-3 inline-block hover:bg-green-dark">Ver todas las fotos en la galería</a>
  </figcaption>
</figure>



<section class="py-16 px-6 bg-water bg-cover bg-center bg-no-repeat">
  <div class="max-w-2xl mx-auto">
    <h2 class="text-lined-left-green leading-tight text-2xl md:text-4xl mb-6 text-black" data-action="colorize">{{ page.area_educational.title }}</h2>
    <p>{{ page.area_educational.content }}</p>

    <div class="md:flex md:flex-wrap md:-mx-2">
      {% for installation in page.area_educational.items %}
        <div class="md:px-2 mt-4 md:w-1/3 border border solid border-grey-light md:border-transparent">
          <article class="bg-white h-full py-3 px-6">
            <h3 class="text-black font-medium uppercase text-base mb-4">{{ installation.title }}</h3>
            <p class="font-light">{{ installation.content }}</p>
          </article>
        </div>
      {% endfor %}
    </div>

    <a href="/instituto/galeria/" class="text-white bg-green uppercase px-6 py-3 inline-block hover:bg-green-dark mt-6">Ver fotos en la galería</a>
  </div>
</section>



<section class="max-w-2xl px-6 py-16 mx-auto">
  <h2 class="text-4xl text-black text-lined-left-green mb-6" data-action="colorize">{{ page.area_forests.title }}</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta hic quos nesciunt quidem provident labore consequatur quas minus corrupti beatae.</p>

  <div class="sm:flex sm:flex-wrap md:-mx-4 mt-8 pt-8">
    {% for item in page.area_forests.items %}
      <div class="sm:w-1/3 sm:px-4">
        <a href="{{ item.image_path }}" class="bg-grey-lightest block mb-4 hover:bg-grey-darkest hover:text-white lift">
          <figure>
            <img src="{{ item.image_path }}" class="w-full" alt="{{ item.title }}" width="300" height="250">
            <figcaption class="px-4 py-3">
              <h3 class="mb-2 text-black font-medium text-xl">{{ item.title }}</h3>
              <p class="font-light">{{ item.description }}</p>
            </figcaption>
          </figure>
        </a>
      </div>
    {% endfor %}
  </div>
</section>


<figure class="mt-8 flex flex-wrap">
  {% for image in page.area_production.images %}
    <a data-fancybox="gallery" href="{{ image.path }}" class="block opacity-75 transition hover:opacity-100 w-1/4 flex-no-shrink">
      <img src="{{ image.path }}" alt="{{ image.caption }}" width="640" height="360">
    </a>
  {% endfor %}
  <figcaption class="bg-grey-lighter py-8 w-full text-center">
    <p class="font-light text-lg mx-auto max-w-2xl mb-4">{{ page.area_production.image_caption }}</p>
    <a href="/instituto/galeria/" class="text-white bg-green uppercase px-6 py-3 inline-block hover:bg-green-dark">Ver todas las fotos en la galería</a>
  </figcaption>
</figure>


<section class="py-16 mx-auto max-w-2xl px-6">
  <h2 class="text-4xl text-black text-center" data-action="colorize">Recinto Jimenoa</h2>
  <p class="text-center font-light text-xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta hic quos nesciunt quidem provident labore consequatur quas
    minus corrupti beatae.</p>
</section>