---
layout: default
---

<section class="py-16 max-w-2xl px-6 mx-auto">
  <div class="md:flex md:items-end">
    <div class="md:text-right md:w-2/5 md:mr-8 mb-6 md:mb-0">
      <p class="font-serif text-green text-xl mb-3">{{ page.area_production.pretitle }}</p>
      <h2 class="text-black text-3xl md:text-4xl leading-tight">{{ page.area_production.title }}</h2>
    </div>

    <p class="md:w-3/5 text-lg text-grey-dark mb-1">{{ content | strip_html }}</p>
  </div>
</section>

<section class="max-w-2xl px-6 mx-auto">
  <div class="md:flex md:-mx-4 md:flex-wrap">
    {% for area in page.area_production.items %}
      <article class="md:px-4 mb-8 pb-8 md:w-1/2 flex">
        <svg class="sm:border sm:border-solid sm:border-grey-light sm:p-6 box-content mr-4 sm:mr-6 mt-1 flex-no-shrink" width="50" height="50">
          <use xlink:href="/icons/symbol-defs.svg#{{ area.icon }}"></use>
        </svg>
        <div>
          <h3 class="lined uppercase text-black mb-6">{{ area.title }}</h3>
          <p class="font-light">{{ area.content }}</p>
        </div>
      </article>
    {% endfor %}
  </div>
</section>



<figure class="mt-8 flex flex-wrap">
  {% for image in page.area_production.images %}
    <a data-fancybox="gallery" href="{{ image.url | replace: 'upload', 'upload/q_60' }}" class="block opacity-75 transition hover:opacity-100 w-1/4 flex-no-shrink" data-caption="{{ image.caption }}">
      <picture>
        <source data-lazy data-srcset="{{ image.url | replace: 'upload', 'upload/c_scale,q_60,w_550' | replace: '.jpg', '.webp' }}" type="image/webp">
        <img data-lazy data-src="{{ image.url | replace: 'upload', 'upload/c_scale,q_60,w_550' }}" alt="{{ image.caption }}" width="640" height="360">
        <noscript>
          <img src="{{ image.url | replace: 'upload', 'upload/c_scale,q_60,w_550' }}" alt="{{ image.caption }}" width="640" height="360">
        </noscript>
      </picture>
    </a>
  {% endfor %}
  <figcaption class="bg-grey-lighter py-8 w-full text-center">
    <p class="font-light text-lg mx-auto max-w-2xl mb-4">{{ page.area_production.image_caption }}</p>
    <a href="/instituto/galeria/" class="button">Ver todas las fotos en la galería</a>
  </figcaption>
</figure>



<section class="py-16 px-6" data-lazy data-class="bg-water">
  <div class="max-w-2xl mx-auto">
    <h2 class="lined leading-tight text-3xl md:text-4xl mb-6 text-black" data-action="colorize">{{ page.area_educational.title }}</h2>
    <p class="text-lg md:text-xl font-light">{{ page.area_educational.content }}</p>

    <div class="md:flex md:flex-wrap md:-mx-2 my-6">
      {% for installation in page.area_educational.items %}
        <div class="md:px-2 mt-4 md:w-1/3 border border solid border-grey-light md:border-transparent">
          <article class="bg-white h-full py-3 px-6">
            <h3 class="text-black font-medium uppercase text-base mb-4">{{ installation.title }}</h3>
            <p class="font-light">{{ installation.content }}</p>
          </article>
        </div>
      {% endfor %}
    </div>

    <a href="/instituto/galeria/" class="button">Ver fotos en la galería</a>
  </div>
</section>



<section class="max-w-2xl px-6 py-16 mx-auto">
  <h2 class="text-3xl md:text-4xl text-black lined mb-6 leading-tight" data-action="colorize">{{ page.area_forests.title }}</h2>
  <p class="text-lg md:text-xl font-light">{{ page.area_forests.description }}</p>

  <div class="sm:flex sm:flex-wrap md:-mx-4 mt-8 pt-8">
    {% for item in page.area_forests.items %}
      <div class="sm:w-1/3 sm:px-4">
        <a href="{{ item.image | replace: 'upload', 'upload/q_60' }}" class="card block transition" data-fancybox="gallery" data-caption="{{ item.description }}">
          <figure>
            <picture>
              <source data-lazy data-srcset="{{ item.image | replace: 'upload', 'upload/c_scale,q_60,w_550' | replace: '.jpg', '.webp' }}" type="image/webp">
              <img data-lazy data-src="{{ item.image | replace: 'upload', 'upload/c_scale,q_60,w_550' }}" class="w-full" alt="{{ item.title }}" width="300" height="250">
              <noscript>
                <img src="{{ item.image | replace: 'upload', 'upload/c_scale,q_60,w_550' }}" class="w-full" alt="{{ item.title }}" width="300" height="250">
              </noscript>
            </picture>
            <figcaption class="px-4 py-3">
              <h3 class="mb-2 text-black font-medium text-xl">{{ item.title }}</h3>
              <p class="font-light">{{ item.description | truncate: 40 }}</p>
            </figcaption>
          </figure>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

<section class="lg:tabs py-16 px-6 relative z-0" data-lazy data-class="bg-tree">
  <div class="flex flex-col items-center mb-8">
    <h2 class="bg-white text-green px-6 py-2 mb-2 text-4xl shadow-md">Recinto Jimenoa</h2>
    <p class="bg-white text-xl font-light px-6 py-2 shadow-md">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, nemo.</p>
  </div>

  <div class="mx-auto max-w-2xl md:flex">
    <div class="hidden lg:flex flex-col items-end flex-1 mx-6 mb-0">
      {% for event in page.events %}
        <button type="button" class="text-left bg-white uppercase px-4 py-6 font-medium text-grey-darkest {% unless forloop.last %}sm:mb-1{% endunless %} w-full md:w-4/5 flex items-center" data-action="tab" data-target="{{ event.title | slugify | cgi_escape }}">
          <svg class="text-green mr-4" width="28" height="28">
            <use xlink:href="/icons/symbol-defs.svg#{{ event.icon }}"></use>
          </svg> {{ event.title }}
        </button>
      {% endfor %}
    </div>

    <div class="flex flex-1 flex-wrap -mx-2 lg:-mx-0">
      {% for event in page.events %}
        <div class="px-2 lg:px-0 mb-4 lg:mb-0 sm:w-1/2 lg:w-full lg:hidden" data-tab="{{ event.title | slugify | cgi_escape }}">
          <article class="lg:flex bg-white shadow-md h-full">
            <div style="background-image: url('{{ event.image_path }}');" class="bg-cover flex-no-shrink lg:w-48 h-48 lg:h-auto"></div>
            <div class="py-4 px-6">
              <h2 class="mb-2 font-medium text-black leading-tight" data-action="colorize">{{ event.title }}</h2>
              <p class="font-light">{{ event.content }}</p>
              {% if event.url %}
                <a href="{{ event.url }}" class="button mt-4">Más detalles</a>
              {% endif %}
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>