---
layout: default
---

<main class="py-16 max-w-2xl mx-auto px-6">
  <figure class="float-right ml-6 mt-2 mb-6 career-img w-1/2 lg:w-1/3">
    <picture>
      <source srcset="{{ page.thumbnail | replace: 'upload', 'upload/c_scale,q_60,w_400' | replace: '.jpg', '.webp' }}" type="image/webp">
      <img src="{{ page.thumbnail | replace: 'upload', 'upload/c_scale,q_60,w_400' }}" alt="{{ page.title }}" width="400" height="266">
    </picture>
  </figure>  
    
  <div class="text-content">
    {{ content }}
  </div>

  <a href="/instituto/carreras/" class="button mt-8">Volver</a>
  <a href="/instituto/horario/#{{ page.title | slugify | cgi_escape }}" class="button-white mt-8">Mira el horario</a>
</main>