---
layout: default
---

<section class="py-16 px-6 max-w-2xl mx-auto md:flex text-center">
  <div class="md:flex-1 md:mr-4 mb-4 md:mb-0 bg-grey-lighter border border-solid border-grey-light p-4">
    <h3 class="text-black font-medium mb-1 uppercase">Correo electrónico</h3>
    <a class="font-light" href="mailto:{{ site.email }}">{{ site.email }}</a>
  </div>
  
  <div class="md:flex-1 md:mr-4 mb-4 md:mb-0 bg-grey-lighter border border-solid border-grey-light p-4">
    <h3 class="text-black font-medium mb-1 uppercase">Número de teléfono</h3>
    <a class="font-light" href="tel:{{ site.phone | remove: ' ' }}">{{ site.phone }}</a>
  </div>

  <div class="md:flex-1 bg-grey-lighter border border-solid border-grey-light p-4">
    <h3 class="text-black font-medium mb-1 uppercase">Ubicación</h3>
    <p class="font-light">{{ site.address }}</p>
  </div>
</section>

<section class="px-6 max-w-2xl mx-auto pb-8 mb-8">
  <h2 class="leading-tight text-4xl mb-4 text-black text-center" data-action="colorize">Escríbenos un correo electrónico</h2>

  <div class="md:flex pt-6">
    <form name="contact" action="/contactanos/gracias/" class="md:flex-1 md:mr-4 clearfix" data-netlify="true">
      <input type="text" class="bg-grey-lightest border hover:border-grey border-solid border-grey-light w-full px-6 py-4 text-grey-darker font-light mb-3" name="name" placeholder="Tu nombre..." required>
      <input type="email" class="bg-grey-lightest border hover:border-grey border-solid border-grey-light w-full px-6 py-4 text-grey-darker font-light mb-3" name="email" placeholder="Tu correo electrónico..." required>
      <textarea class="bg-grey-lightest border hover:border-grey border-solid border-grey-light w-full px-6 py-4 text-grey-darker font-light mb-2" name="message" rows="6" placeholder="Tu mensaje..." required></textarea>
      <button type="submit" class="text-white bg-green uppercase px-6 py-3 inline-block hover:bg-green-dark float-right">Enviar</button>
    </form>

    <div class="map md:flex-1 h-64 md:h-auto mt-6 md:mt-0"></div>
  </div>
</section>