---
layout: default
---

<main class="px-6 py-16 max-w-2xl mx-auto">
  <nav class="text-center">
    <p class="font-light text-lg md:text-xl mb-6">En está página puedes ver cuales clases y materias tiene cada carrera. Por favor elige una carrera:</p>

    {% for career in site.careers %}
      <button data-action="tab" data-target="{{ career.title | slugify | cgi_escape }}" class="inline-flex mb-1 flex-1 items-center font-medium uppercase text-white bg-green px-6 py-4 inline-block cursor-pointer hover:bg-green-dark hover:text-white">{{ career.title }}</button>
    {% endfor %}
  </nav>

  {% for career in site.careers %}
    <div class="hidden flex-col pt-16" data-tab="{{ career.title | slugify | cgi_escape }}">
      <h2 class="text-black text-3xl md:text-4xl lined leading-tight mb-8" data-action="colorize">{{ career.title }}</h2>
      <p class="sm:mb-12">{{ career.description }}</p>

      {% for quarter in career.curriculum %}
        <div class="py-8 sm:py-16 sm:px-6 sm:relative {% if forloop.first %}sm:pt-0{% endif %} {% if forloop.last %}sm:pb-0{% endif %} flex flex-col {% unless forloop.first %}sm:border-t-2{% endunless %} sm:border-dashed sm:border-green {% cycle 'sm:items-start sm:border-l-2', 'sm:items-end sm:border-r-2' %}">
          <span class="hidden sm:absolute {% cycle 'pin-lt', 'pin-rt' %} bg-green w-16 h-16 text-white font-light text-2xl rounded-full sm:flex sm:items-center sm:justify-center">{{ forloop.index }}</span>
          <table {% if forloop.first %}class="mt-8"{% endif %}>
            <caption class="text-left text-2xl font-light px-4 py-2 bg-grey-lighter text-gray-darker mb-6">{{ quarter.title }}</caption>
            <thead class="text-black uppercase font-medium text-left text-sm text-green">
              <tr>
                <th class="py-2 px-4">Asignatura</th>
                <th class="py-2 px-4 hidden sm:table-cell">Crédito</th>
                <th class="py-2 px-4 hidden sm:table-cell">Horas teóricas</th>
                <th class="py-2 px-4 hidden sm:table-cell">Horas prácticas</th>
              </tr>
            </thead>
            <tbody class="font-light">
              {% for subject in quarter.subjects %}
                <tr>
                  <td class="py-2 px-4 border-solid border-t border-grey-light">{{ subject.name }}</td>
                  <td class="py-2 px-4 hidden sm:table-cell border-solid border-t border-grey-light">{{ subject.credit }}</td>
                  <td class="py-2 px-4 hidden sm:table-cell border-solid border-t border-grey-light">{{ subject.theory }}</td>
                  <td class="py-2 px-4 hidden sm:table-cell border-solid border-t border-grey-light">{{ subject.practice }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}

      <div class="bg-grey-lighter p-3 sm:p-6 mt-8 text-center">
        <svg width="100" height="100">
          <use xlink:href="/icons/symbol-defs.svg#graduate"></use>
        </svg>
        <p class="text-xl sm:text-3xl font-light">Graduación</p>
      </div>
    </div>
  {% endfor %}
</main>