<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Andreas Remdt">
    
    <title>{{ page.title }} | {{ site.title }} de {{ site.subtitle }}</title>

    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96">

    <link href="https://fonts.googleapis.com/css?family=Merienda+One%7CRoboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    {% include header.html %}
    {% include navigation.html %}
    {% include hero.html %}

    {{ content }}
    
    {% include footer.html %}

    <script src="/js/jquery.min.js" defer></script>
    <script src="/js/fancybox.min.js" defer></script>
    <script src="/js/main.js" defer></script>
    
    {% if page.url == "/instituto/galeria/" %}
      <script src="/js/isotope.min.js" defer></script>
    {% elsif page.url == "/contactanos/" %}
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvasE3DqVJKzmtB5xXkYfFtQkQ7kxEhZM&callback=initMap"></script>
    {% endif %}
  </body>
</html>