---
layout: default
---

<main class="py-16 px-6 bg-palm">
  <div class="max-w-2xl mx-auto text-center">
    <svg class="mb-4" width="70" height="70">
      <use xlink:href="/icons/symbol-defs.svg#error"></use>
    </svg>

    <h2 class="text-3xl sm:text-4xl text-black">{{ page.title }}</h2>
    <p class="font-light text-xl sm:w-1/2 sm:mx-auto">{{ content }}</p>
    <a href="/" class="text-white bg-green uppercase px-6 py-3 inline-block hover:bg-green-dark mt-6">Volver al Inicio</a>
  </div>
</main>