---
layout: default
---

<main class="section campus">
  <ul class="campus__menu">
    <li class="campus__item">
      <a class="campus__button campus__button--is-active" href="#">Todas</a>
    </li>
    <li class="campus__item">
      <a class="campus__button" href="#">Recintos 1</a>
    </li>
    <li class="campus__item">
      <a class="campus__button" href="#">Recintos 2</a>
    </li>
    <li class="campus__item">
      <a class="campus__button" href="#">Aulas</a>
    </li>
    <li class="campus__item">
      <a class="campus__button" href="#">Otros lugares</a>
    </li>
  </ul>

  <div class="gallery">
    {% for image in page.images %}
      <figure class="gallery__item" data-categories="{{ image.category }}">
        <img class="gallery__image" src="{{ image.src}}" alt="{{ image.caption }}" width="320" height="180">
        <figcaption class="gallery__caption">{{ image.caption }}</figcaption>
      </figure>
    {% endfor %}
  </div>
</main>

<!-- overlay 
<div class="overlay">
  <figure class="overlay__inner">
    <img class="overlay__image" src="/images/IMG_8156.jpg" alt="">
    <figcaption class="overlay__caption">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, officia obcaecati, harum dignissimos, consectetur assumenda dicta quisquam magni consequatur molestias beatae voluptatum nam neque eos!</figcaption>
  </figure>
</div> <!-- end overlay -->