---
layout: default
---

<main class="py-16 px-6" data-lazy data-class="lg:bg-fake-plant">
  <div class="max-w-2xl mx-auto">
    <p class="text-lg md:text-xl text-green text-center font-serif mb-3">{{ page.pre_heading }}</p>
    <h2 class="text-center text-black text-3xl sm:text-4xl mb-8 leading-tight">{{ page.heading }}</h2>
        
    <ol class="list-reset md:w-3/5 mx-auto pt-8">
      {% for entry in page.entries %}
        <li class="sm:flex mt-8 sm:items-center">
          <h4 class="font-light sm:bg-green text-xl sm:text-base text-green sm:text-white sm:w-16 sm:h-16 sm:mr-6 block flex-no-shrink sm:flex sm:items-center sm:justify-center">{{ entry.year }}</h4>
          <p class="bg-white sm:px-3 sm:py-1">{{ entry.content }}</p>
        </li>
      {% endfor %}
    </ol>
  </div>
</main>