---
layout: default
---

<section class="px-6 py-16 bg-palm">
  <div class="mx-auto max-w-2xl">
    <p class="font-light text-lg md:text-xl py-2 mb-8">{{ content | strip_html }}</p>

    <ul>
      {% for activity in page.activities %}
        <li>{{ activity }}</li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="py-16 bg-grey-lighter px-6">
  <div class="max-w-2xl mx-auto">
    <h2 class="text-black mb-8 text-3xl md:text-4xl leading-tight">Opciones de Menú</h2>

    {% for dish in page.dishes %}
      <table class="w-full mb-8">
        <caption class="text-left text-2xl font-light py-2 bg-grey-lighter text-gray-darker mb-2">{{ dish.name }}</caption>
        <thead class="text-black uppercase font-medium text-left text-sm text-green">
          <tr>
            {% for column in dish.columns %}
              <th class="py-2 px-4 border-solid border border-grey-light">{{ column.dish }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for column in dish.columns %}
              <td class="py-2 px-4 border-solid border border-grey-light align-top">{{ column.content | join: '<br>' }}</td>
            {% endfor %}
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="py-2 px-4 border-solid border border-grey-light text-right" colspan="{{ dish.columns | size | minus:1 }}">Precio total por persona:</td>
            <td class="py-2 px-4 border-solid border border-grey-light"><b>{{ dish.price }}</b></td>
          </tr>
        </tfoot>
      </table>
    {% endfor %}
  </div>
</section>

<section class="max-w-2xl mx-auto px-6 py-16">
  <h2 class="text-black mb-8 text-3xl md:text-4xl leading-tight" data-action="colorize">Informaciones y costos</h2>

  <ul class="mb-6">
    {% for item in page.information %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <a href="/servicios/turismo-educativo/" class="button">Volver</a>
</section>

{% include contact-us.html %}