---
layout: default
---

<section class="py-16 max-w-2xl px-6 mx-auto">
  <div class="md:flex md:items-end">
    <div class="md:text-right md:w-2/5 md:mr-8 mb-6 md:mb-0">
      <p class="font-serif text-green text-xl mb-3">{{ page.intro.pretitle }}</p>
      <h2 class="text-black text-4xl leading-tight">{{ page.intro.title }}</h2>
    </div>

    <p class="md:w-3/5 text-lg text-grey-dark mb-1">{{ content | strip_html }}</p>
  </div>
</section>


<section class="lg:tabs py-16 px-6 relative z-0" data-lazy data-class="bg-tree">
  <div class="flex justify-center mb-8">
    <h2 class="bg-white text-green px-6 py-2 text-4xl shadow-md">Nuestros eventos</h2>
  </div>

  <div class="mx-auto max-w-2xl md:flex">
    <div class="hidden lg:flex flex-col items-end flex-1 mx-6 mb-0">
      {% for event in page.events %}
        <button type="button" class="text-left bg-white uppercase px-4 py-6 font-medium text-grey-darkest {% unless forloop.last %}sm:mb-1{% endunless %} w-full md:w-4/5 flex items-center" data-action="tab" data-target="{{ event.title | slugify | cgi_escape }}">
          <svg class="text-green mr-4" width="28" height="28">
            <use xlink:href="/icons/symbol-defs.svg#{{ event.icon }}"></use>
          </svg> {{ event.title }}
        </button>
      {% endfor %}
    </div>

    <div class="flex flex-1 flex-wrap -mx-2 lg:-mx-0">
      {% for event in page.events %}
        <div class="px-2 lg:px-0 mb-4 lg:mb-0 sm:w-1/2 lg:w-full lg:hidden" data-tab="{{ event.title | slugify | cgi_escape }}">
          <article class="lg:flex bg-white shadow-md h-full">
            <div style="background-image: url('{{ event.image | replace: 'upload', 'upload/c_scale,w_500,q_60' }}');" class="bg-cover flex-no-shrink lg:w-48 h-48 lg:h-auto"></div>
            <div class="py-4 px-6">
              <h2 class="mb-2 font-medium text-black leading-tight" data-action="colorize">{{ event.title }}</h2>
              <p class="font-light">{{ event.content }}</p>
              {% if event.url %}
                <a href="{{ event.url }}" class="button mt-4">Más detalles</a>
              {% endif %}
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include contact-us.html %}