---
layout: default
---

<section class="py-16 px-6 max-w-2xl mx-auto">
  <div class="md:flex md:items-end">
    <div class="md:text-right md:w-2/5 md:mr-8 mb-6 md:mb-0">
      <p class="font-serif text-green text-xl mb-3">{{ page.intro.pretitle }}</p>
      <h2 class="text-black text-4xl leading-tight">{{ page.intro.title }}</h2>
    </div>
  
    <p class="md:w-3/5 text-lg text-grey-dark mb-1">{{ content | strip_html }}</p>
  </div>

  <div class="md:flex md:-mx-4 mt-8 pt-8">
    {% for item in page.items %}
      <article class="md:mx-4 flex-1 clearfix mb-6 md:mb-0">
        <h3 class="lined uppercase text-black mb-6">{{ item.title }}</h3>
        <svg class="text-green border border-solid border-grey-light p-3 box-content float-left mt-1 mr-6 mb-2" width="50" height="50">
          <use xlink:href="/icons/symbol-defs.svg#{{ item.icon }}"></use>
        </svg>
        <p class="font-light">{{ item.content }}</p>
      </article>
    {% endfor %}
  </div>
</section>



<figure class="mt-8">
  <div class="flex transition">
    {% for image in page.images %}
      <a data-fancybox="gallery" href="{{ image.image_path }}" class="block w-1/4 flex-no-shrink opacity-75 hover:opacity-100 transition">
        <img src="{{ image.image_path }}" alt="{{ image.title }}" width="720" height="900">
      </a>
    {% endfor %}
  </div>
  <figcaption class="bg-grey-lighter py-8">
    <div class="max-w-2xl mx-auto text-center">
      <p class="font-light text-lg">{{ page.image_caption }}</p>
    </div>
  </figcaption>
</figure>



<section class="py-16 px-6 max-w-2xl mx-auto">
  <h2 class="text-black lined text-3xl mb-6" data-action="colorize">{{ page.others.title }}</h2>
  <p class="text-xl font-light">{{ page.others.intro }}</p>

  <div class="md:flex md:-mx-4 mt-8 py-8">
    {% for item in page.others.items %}
      <article class="md:mx-4 flex-1 clearfix mb-6 md:mb-0">
        <h3 class="lined uppercase text-black mb-6">{{ item.title }}</h3>
        <svg class="text-green border border-solid border-grey-light p-3 box-content float-left mt-1 mr-6 mb-2" width="50" height="50">
          <use xlink:href="/icons/symbol-defs.svg#{{ item.icon }}"></use>
        </svg>
        <p class="font-light">{{ item.content }}</p>
      </article>
    {% endfor %}
  </div>

  <div class="mt-8 pt-16 border-t border-grey-light">
    <h2 class="text-black lined text-3xl mb-6" data-action="colorize">Precios, reglas y detalles</h2>
    <p class="text-xl font-light">En esta sección hay todos los detalles sobre nuestros servicios. Si tienes más preguntas, puedes contactarnos en cualquier momento en la sección de abajo.</p>
  
    <article>
      <h3 class="uppercase text-black mb-2 mt-8">Costos por evento</h3>
      <ul>
        <li>RD$10,000 para bodas, cumpleaños, graduaciones y actividades afines.</li>
        <li>RD$5,000. Para reuniones, talleres, seminarios y actividades afines.</li>
      </ul>
      <h3 class="uppercase text-black mb-2 mt-8">Los servicios incluyen:</h3>
      <ul>
        <li>Planta Eléctrica</li>
        <li>Baños equipados a la entrega</li>
        <li>Parqueos</li>
      </ul>
      <h3 class="uppercase text-black mb-2 mt-8">Las reglas</h3>
      <ul>
        <li>Cuidar el área verde y jardines del Instituto. Respetar los límites naturales al momento de colocar carpas y objetos de decoración.</li>
        <li>Evitar circular vehículos en lugares no autorizados.</li>
        <li>Dejar alquileres en las áreas antes o después del evento sin responsabilidad del Instituto.</li>
        <li>Hacer el montaje de la actividad un día antes si fuese necesario y retirar los alquileres a más tardar el día después de
        la actividad.</li>
        <li>Respetar el horario establecido para llevar a cabo el evento. La hora máxima para tener música alta es a las 10:00 PM.</li>
        <li>Dejar el lugar lo más recogido posible inmediatamente después del evento; utilizando los zafacones suministrados para desechos
        sólidos.</li>
        <li>Realizar el pago al menos una semana antes del evento. Este pago incluirá un depósito reembolsable de 2,500 pesos para cubrir
        posibles daños ocasionados al área, si así fuere el caso.</li>
      </ul>
    </article>
  </div>
</section>

{% include contact-us.html %}