.main-footer {
  padding-top: 3.5rem;

  color: var(--gray);
  background-color: var(--dark-gray);

  font-weight: 300;

  .grid-3 {
    margin-bottom: 2rem;
  }

  .heading {
    color: white;

    font-weight: 400;
  }

  .logo {
    > .heading {
      margin-bottom: 0;
    }

    > .subtitle {
      margin: 0 0 2rem 0;
    }
  }

  .link {
    color: white;
  }

  .navigation > .item {
    display: block;

    transition: color .15s ease-in-out;

    &:hover {
      color: white;
    }
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);

    > .link {
      display: inline-block;
      margin-right: -4px;

      > .image {
        width: 80px;
        height: 80px;

        object-fit: cover;

        transition: opacity .15s ease-in-out;

        &:hover {
          opacity: .5;
        }
      }
    }
  }

  .social-links > .link {
    fill: white;
    background-color: tint($dark-grey, 10%);
    border: none;

    transition: background-color .15s ease-in-out;

    &:hover {
      background-color: tint($dark-grey, 20%);
    }
  }

  .news-item {
    margin-bottom: 2rem;

    > .title {
      margin-bottom: 0;

      font-weight: inherit;

      color: inherit;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .copyright {
    margin-bottom: 0;
    padding: 1rem 0;

    font-size: 90%;

    border-top: 1px solid shade($mid-grey, 50%);
  }
}
