.page-header {
  display: flex;
  align-items: center;
  height: 8rem;
  
  line-height: 1.4;
  font-weight: 300;

  > .logo {
    @media (min-width: 600px) {
      background: transparent url('../images/logo.png') left center no-repeat;
      padding-left: 90px;
    }

    display: inline-block;

    flex: 1;

    > .title {
      margin-bottom: 0;

      font-family: $text-font-stack-curly;
      font-size: 1.8rem;

      @media (max-width: 450px) {
        font-size: 1.1rem;
      }
  }

    > .subtitle {
      margin: 0;

      color: var(--gray);
    }
  }

  > .contacts {
    @media (max-width: 1160px) {
      display: none;
    }

    padding-left: 0;
    margin: 0;

    list-style-type: none;

    > .contact {
      display: inline-flex;
      align-items: center;
      margin-right: 2rem;

      > .icon {
        padding: 10px;
        margin-right: 1rem;

        background-color: $brand-color;
      }
    }
  }

  > .button {
    position: relative;
    z-index: 10;

    @media (min-width: 768px) {
      display: none;
    }
  }
}