.hero-unit {
  color: white;
  
  background: var(--background, url(../images/hero-small.jpg)) center center no-repeat;
  background-size: cover;

  &.-home {
    --height: 700px;
    --background: url(../images/hero-big.jpg);
    --direction: column;
    --align: flex-start;
    --justify: center;
  }

  > .inner {
    display: flex;
    height: var(--height, 300px);
    align-items: var(--align, center);
    flex-direction: var(--direction, row);
    justify-content: var(--justify, space-between);

    @media (max-width: 600px) {
      --direction: column;
      --justify: center;
    }

    > .pretitle {
      --line-color: white;

      font-size: 1.6rem;

      text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    }

    > .title {
      margin-bottom: 0;

      text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
      color: inherit;
    }

    .intro {
      margin-bottom: 2rem;
      margin-left: 40px;

      font-size: 1.1rem;

      text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    }

    .buttons {
      margin-left: 40px;

      > .button {
        margin-bottom: 4px;
      }
    }
  }
}