.page-navigation {
  .menu, .submenu {
    margin: 0;
    padding-left: 0;

    list-style-type: none;
  }
  
  @media (min-width: 768px) {
    margin-top: -3.5rem;
    position: relative;
    top: 3.5rem;
  
    background-color: rgba(0, 0, 0, 0.4);

    .link {
      margin: 0 1.5rem;
      display: block;
      height: 3.5rem;

      line-height: 3.5rem;

      color: white;

      transition: color .15s ease-in-out;

      &.-active {
        color: var(--brand-color);

        font-weight: 500;
      }

      &:hover, &:focus {
        color: var(--brand-color);
      }
    }

    > .heading {
      display: none;
    }

    > .menu {
      display: flex;
      align-items: center;

      > .item {
        position: relative;

        &:hover .submenu {
          transform: scaleY(1);
        }

        &:last-child {
          margin: 0 -1.5rem 0 auto;
        
          > .link {
            margin: 0;
            padding: 0 60px 0 40px;
            position: relative;

            background-color: var(--brand-color);

            text-transform: uppercase;

            transition: background-color .15s ease-in-out;

            &.-active {
              color: white;
              font-weight: 400;
            }

            &:hover, &:focus {
              color: white;
              background-color: shade($brand-color, 20%);
            }

            &::before {
              content: '';
              position: absolute;
              left: -20px;
              height: 100%;
              width: 40px;

              background-color: inherit;

              transform: skew(35deg, 0deg);
            }
          }
        }

        > .submenu {
          position: absolute;
          top: 100%;
          left: 0;

          transform: scaleY(0);
          transform-origin: top;
    
          white-space: nowrap;
          z-index: 10;
          
          background-color: rgba(0, 0, 0, .6);

          transition: transform .2s ease-in-out;
        }
      }
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: -20rem;
    bottom: 0;
    padding-top: 1.5rem;
    width: 20rem;

    background-color: var(--brand-color);

    z-index: 9;
    overflow-y: auto;
    transition: left .3s ease-out;

    &.-opened {
      left: 0;
    }

    > .heading {
      color: shade($brand-color, 50%);
    }

    .link {
      display: block;
      padding: .4rem 0;

      color: shade($brand-color, 50%);
    }

    .submenu {
      margin-left: 1.5rem;
    }
  }
}