@media (min-width: 768px) {
  .top-navigation {
    margin-bottom: -3.3rem;
    background-color: rgba(0, 0, 0, 0.4);

    li:hover ul {
      display: block;
    }

    ul ul {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .last {
      padding-left: 4rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 25px 100%);
    }
  }
}

@media (max-width: 768px) {
  .top-navigation {
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;

    &.opened {
      transform: translateX(0);
    }
  }
}