---
layout: default
title: 30 días de labor social
---

<main class="px-6 py-16 mx-auto max-w-2xl">
  <div class="md:flex md:-mx-4">
    {% for principle in site.data.about.principles %}
    <article class="md:mx-4 mb-6">
      <h3 class="text-lined-left-green uppercase text-black mb-6">{{ principle.title }}</h3>
      <svg class="text-green border border-solid border-grey-light p-3 box-content float-left mt-1 mr-6 mb-2" width="50" height="50">
        <use xlink:href="/images/icons/symbol-defs.svg#{{ principle.icon }}"></use>
      </svg>
      <p class="font-light">{{ principle.content }}</p>
    </article>
    {% endfor %}
  </div>
</main>

{% include contact-us.html %}