._big {
  font-size: 2.5rem;
  line-height: 1.3;
}

._img-fluid {
  width: 100%;
}

._green {
  color: $brand-color;
  fill: $brand-color;
}

._curly {
  font-family: $text-font-stack-curly;
}

._uppercase {
  text-transform: uppercase;
}

._centered {
  text-align: center;
}

._right {
  text-align: right;
}

._lined {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 115%;
    width: 50px;

    border-bottom: 2px solid var(--line-color, var(--brand-color));
  }

  &.-center::before {
    left: calc(50% - 25px);
  }

  &.-right::before {
    left: auto;
    right: 0;
  }
}

.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

._hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.iframe-wrapper {
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}