.font-serif { font-family: $text-font-stack-curly; }
.text-shadow { text-shadow: 1px 1px 1px rgba(0, 0, 0, .4); }
.mb-12 { margin-bottom: 4rem; }
.py-16 { padding-top: 6rem; padding-bottom: 6rem; }
.object-cover { object-fit: cover; }
.box-content { box-sizing: content-box; }

.lift {
  transition: transform .25s ease-out, background-color .15s ease-in-out, box-shadow .25s ease-out, color .25s ease-in-out;

  &:hover {
    transform: translate3d(0, -1rem, 0);
    box-shadow: 0 25px 20px -10px rgba(0, 0, 0, 0.15);

    h3 {
      color: white;
    }
  }
}

.iframe-wrapper {
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .md\:h-13 { height: 3.3rem; }
  .md\:pin-t-100 { top: 100%; }
  .md\:py-16 { padding-top: 6rem; padding-bottom: 6rem; }
}

.career-img {
  clip-path: polygon(0 2%, 90% 0, 100% 100%, 3% 92%);
}

.text-lined-left {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 115%;
    width: 50px;

    border-bottom: 2px solid white;
  }
}

.text-lined-left-green {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 115%;
    width: 50px;

    border-bottom: 2px solid #38c172;
  }
}


@media (min-width: 576px) {
  .logo {
    padding-left: 4.3rem;
    background: transparent url('/images/logo.png') center left/60px no-repeat;
  }
}

@media (min-width: 996px) {
  .bg-room-plant {
    background: transparent url('../images/backgrounds/room-plant.jpg') center no-repeat;
    background-size: cover;
  }
}

@media (min-width: 900px) {
  .bg-plastic-plant {
    background: transparent url('../images/backgrounds/plastic-plant.png') 50px bottom no-repeat;
    background-size: 400px;
  }
}

.bg-hero-small {
  height: 300px;
  background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/backgrounds/hero-small.jpg') center center no-repeat;
}
.bg-hero-big {
  height: 700px;
  background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .3) ), url('../images/backgrounds/hero-big.jpg') center center no-repeat;
}

.bg-forest {
  background-image: url('../images/backgrounds/forest.jpg');
}

.bg-water {
  background-image: url('../images/backgrounds/water.jpg');
}

.bg-forest-roof {
  background-image: url('../images/backgrounds/forest-roof.jpg');
}

.bg-palm {
  background-image: url('../images/backgrounds/palm-leaf.jpg');
  background-size: 50%;
}

.careers {
  min-height: 40rem;

  @media screen and (min-width: 768px) {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(255,255,255,0.3), transparent);
      z-index: -2;
    }
  }
}